html, body {
    margin: 0;
    padding: 0;
    height: 100%;
	background-color: #0c0c0c;
    font-family: 'Nota', sans-serif;
}

.btnFGBJ {
    background-color: #737373;
    opacity: 70%;
    padding: 1vh 5vh;
    border: 2px solid #F4E904;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
}

.btnFGBJ:hover {
    background-color: #F4E904;
    border: 2px solid #737373;
    color: #0c0c0c;
    transition: all 0.5s ease;
}

.btnFJBG {
    background-color: #F4E904;
    opacity: 70%;
    padding: 1vh 5vh;
    border: 2px solid #737373;
    border-radius: 15px;
    color: #0c0c0c;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
}

.btnFJBG:hover {
    background-color: #737373;
    color: #F4E904;
    transition: all 0.5s ease;
}

.tJ {
	font-family: "Bebas Neue", sans-serif;
	font-style: normal;
    color: #F4E904;
    margin: 0;
    text-align: center;
}

/* --- Code Css navbar.php --- */

nav {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Écarte les éléments horizontalement */
    width: 80%; /* Ajustez selon vos besoins */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex: 1; /* Permet au menu de prendre l'espace restant */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3vh;
	margin: 0 1.5vh;
}

nav img {
    height: 12vh;
}

nav ul li .btnFGBJ {
	margin-top: -8px;
	margin-left: 20px;
}

nav .left-section {
    display: flex;
    align-items: center;
    gap: 20px; /* Espace entre l'image et le menu */
}

nav ul li a:hover {
    color: #F4E904;
}

/* --- Code Css accueil.php --- */

.imgAccueil {
    position: relative;
    width: 100%;
    object-fit: cover;
    opacity: 70%;
}

.contenu-accueil {
    position: absolute;
    top: 35vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.contenu-accueil h2 {
    font-size: 7vh;
}

.contenu-accueil h1 {
    font-size: 10vh;
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
}

.contenu-accueil p {
    font-size: 2vh;
    color: white;
    font-family: 'Lato', sans-serif;
}

.contenu-accueil button {
    margin: 4vh;
    padding: 1vh 15vh;
    opacity: 90%;
}

/* --- Code Css offres.php --- */

.conteneur-offres {
    width: 100%;
    margin: 0;
}

.conteneur-offres h2 {
    position: relative;
	top: -5vh;
    left: 50%;
    font-size: 7vh;
    transform: translateX(-50%);
}

.contenu-offres {
    margin: auto;
    text-align: center;
    position: relative;
    display: flex;
    transition: transform 0.5s ease-in-out;
    max-width: 60%;
}

.carousel {
    overflow: hidden;
    position: relative;
}

.offre {
    min-width: calc(93% / 3);
    height: 70vh;
    box-sizing: border-box;
    padding: 20px;
    background: #f8f8f8;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    opacity: 1; /* Opacité par défaut */
    transition: opacity 0.1s ease-in-out; /* Transition douce */
}

.offre.hidden {
    opacity: 0.3; /* Réduction de l'opacité */
}


button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #F4E904; /* Yellow */
    color: #737373;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

button.prev {
    left: 20vh;
}

button.next {
    right: 20vh;
}

@media (max-width: 768px) {
    .offre {
        min-width: 100%;
    }
}

/* --- Code Css rejoinnous.php --- */

.conteneur-rejoinnous{
    margin-top: 5vh;
    overflow-x: hidden;
}

.imgAccueil {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.contenu-rejoinnous {
    position: relative;
    transform: translate(-25%, -65vh); /* Combine déplacement horizontal et vertical */
    left: 50%;
    text-align: center;
}

.contenu-rejoinnous h2 {
    font-size: 7vh;
}

.contenu-rejoinnous h1 {
    font-size: 10vh;
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
}

.contenu-rejoinnous p {
    font-size: 2vh;
    color: white;
    font-family: 'Lato', sans-serif;
}

.contenu-rejoinnous button {
    margin: 4vh;
    padding: 1vh 15vh;
    opacity: 90%;
}

/* --- Code Css offres.php --- */

.conteneur-video {
    width: 100%;
    margin: -39vh 0 0 0;
}

.conteneur-video h2 {
    position: relative;
    top: 6vh;
    left: 50%;
    font-size: 10vh;
    transform: translateX(-50%);
    text-align: center;
}

.contenu-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contenu-video video {
    width: 80vw;
    max-width: 100%;
    pointer-events: none;
}

/* --- Code Css temoignage.php --- */

.conteneur-temoignage {
    position: relative; /* Nécessaire pour positionner les pseudo-éléments */
    width: 100%;
    margin: 15vh 0 0 0;
    padding: 20vh 0;
}

.conteneur-temoignage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/fondTemoignage.jpg");
    opacity: 0.5; /* Contrôle de l'opacité de l'image */
    z-index: 1; /* Place l'image en arrière-plan */
}

.conteneur-temoignage::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 60%; /* Hauteur personnalisée pour le fond noir */
    background-color: #0c0c0c; /* Fond noir avec transparence */
    opacity: 0.4;
    z-index: 1; /* Même plan que l'image */
}

.conteneur-temoignage > * {
    position: relative;
    z-index: 2; /* Place le contenu au-dessus des deux calques */
}


.conteneur-temoignage h2 {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    margin: 0;
    font-size: 10vh;
    text-align: center;
}

.contenu-temoignage {
    margin: auto;
    text-align: center;
    position: relative;
    left: 7vw;
    display: flex;
    transition: transform 0.5s ease-in-out;
    max-width: 60vw;
}

.temoignage {
    min-width: 40vw;
    box-sizing: border-box;
    padding: 20px;
    background: #0c0c0c;
    color: white;
    border-left: 0.5vh solid #737373;
    margin: 10px 2vw;
    border-radius: 10px;
    text-align: left;
    opacity: 1; /* Opacité par défaut */
    transition: opacity 0.1s ease-in-out; /* Transition douce */
}

.temoignage.hidden {
    opacity: 0.3; /* Réduction de l'opacité */
}

.contenu-temoignage p {
    margin: 1vh 1vw;
    text-align: justify;
    display: -webkit-box; /* Active le mode boîte flexible */
    -webkit-box-orient: vertical; /* Définit l'orientation verticale */
    -webkit-line-clamp: 3; /* Limite à 3 lignes */
    overflow: hidden; /* Cache le reste du texte */
    text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est tronqué */
}

.contenu-temoignage h4 {
    font-style: italic;
}

.etoile {
    width: 20px; /* Taille de l'étoile */
    height: 20px;
    background-color: #F4E904; /* Couleur par défaut */
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    ); /* Forme de l'étoile */
    display: inline-block;
}

/* --- Code Css contact.php --- */

.conteneur-contact {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 15vh 0 0 0;
    padding-bottom: 20vh;
}

.conteneur-contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/fondAccueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    z-index: 1;
}

.conteneur-contact > * {
    z-index: 2;
}

.contenu-contact {
    text-align: center;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.contenu-contact h2 {
    position: relative;
    top: -5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 38%;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 10vh;
    text-align: center;
}

.contenu-contact .btnFGBJ {
    position: relative;
    top: -5vh;
    padding: 2vh 10vh;
    border-radius: 45px;
    font-family: 'Nota', sans-serif;
    font-size: 4vh;
}

.contenu-contact .contacts {
    color: #F4E904;
}

.contacts {
    position: relative;
    top: 17vh;
    margin: 0 15vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}
  
.menu h4,
.contact h4,
.connectezvous h4 {
    color: #F4E904;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4vh;
}
  
.menu ul {
    list-style: none;
    padding: 0;
}
  
.menu li {
    margin-bottom: 5px;
    text-align: left;
    cursor: pointer;
}
  
.contact {
    text-align: left;
}
  
.connectezvous {
    text-align: left;
}

.connectezvous input {
    width: 90%;
    padding: 1vh 5vh;
    margin: 1vh 0;
    border-radius: 45px;
    color: white;
    background-color: #737373;
    border: 1px solid #0c0c0c;
    text-align: center;
}

.connectezvous button {
    width: 125%;
    padding: 0.5vh 5vh;
    border-radius: 45px;
    background-color: #F4E904;
    border: 1px solid #0c0c0c;
    font-family: 'Bebas Neue', sans-serif;
}
  
.contacts img {
    width: 30vh; /* Taille ajustable */
}
  
.social-icons {
    margin-top: 75px;
    display: flex;
    gap: 2vw;
}
  
.social-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}