/* Couleurs */

:root {
	--jaune: #F4E904;
	--noir: #0c0c0c;
	--gris: #737373;
	--blanc: #ffffff;
}

html, body {
	margin: 0;
	padding: 0;
	background: var(--noir);

	background-image: url(/assets/images/fondAccueil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* --- Code Css stlBlog.php --- */

.conteneur-blog {
	margin: 10vw auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

/* Contenu du blog */
.contenu-blog {
    width: 80%;
}

/* Articles : Grille des blocs */
.articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Max 3 colonnes */
    gap: 20px;
}

/* Bloc Article */
.article {
    background-color: #0c0c0c;
    border-radius: 8px;
    border: 1px solid #F4E904;
	box-shadow: 1px 1px 4px #F4E904;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
	color: #ffffff;
	font-family: 'Lota', sans-serif;
}

/* Titre */
.article h2 {
    font-size: 2vw;
    color: #F4E904;
    margin-bottom: 10px;
	font-family: 'Bebas Neue', sans-serif;
}

/* Date */
.article .date {
    font-size: 12px;
    color: #F4E904;
    margin-bottom: 10px;
}

/* Contenu */
.article p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Auteur */
.article .saiyan {
    font-size: 14px;
    font-style: italic;
    margin-top: auto; /* Pousse le contenu vers le haut */
}

/* Image */
.article img {
    width: 60%;
    height: auto;
    border-radius: 4px;
	margin: 0 auto;
}

/* Responsive */
@media (max-width: 768px) {
    .articles {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adapte les blocs à des tailles plus petites */
    }
}