html, body {
	background-image: url(/assets/images/fondAccueil.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed; 
	margin: 0;
	padding: 0;
	background-color: var(--noir);
}

/* --- Code Css stlApropos.php --- */

.conteneur-contact {
	width: 100%;
	height: 70vh;
	overflow: hidden; /* Empêche le contenu de déborder ici */
}

.contenu-contact {
	position: relative;
	margin: 0 auto;
	padding: 5vh 0 5vh; 
	width: 70%; 
	max-height: 100vh;
	overflow-y: auto; /* Barre de défilement verticale */
	color: var(--blanc);
	box-sizing: border-box; 
}

.contenu-contact h3 {
	font-family: "Bebas Neue", sans-serif;
	font-size: 5vh;
	text-align: center;
}

.contenu-contact p {
	font-family: 'Lato', sans-serif;
	font-size: 2.5vh;
}

.contenu-contact ul li {
	font-family: 'Lato', sans-serif;
	font-size: 2.5vh;
}

.contenu-contact .la {
	font-family: 'Lato', sans-serif;
	font-size: 2.5vh;
	font-weight: bold;
	color: var(--jaune);
}

.contenu-contact .btn {
	display: flex;
	justify-content: center; 
	align-items: center; 
	margin-top: 3vh; 
}


.contenu-contact .btnFGBJ {
	background-color: #737373;
	opacity: 70%;
	padding: 1vh 5vw;
	border: 2px solid #F4E904;
	border-radius: 15px;
	color: white;
	text-decoration: none;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 18px;
}

.contenu-contact .btnFGBJ:hover {
	background-color: #F4E904;
	border: 2px solid #737373;
	color: #0c0c0c;
	transition: all 0.5s ease;
}

.form-connexion {
	margin-top: 5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-connexion h2 {
	font-family: "Bebas Neue", sans-serif;
	font-size: 5vh;
}

.form-connexion {
	color: var(--jaune);
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btnFJBG {
	background-color: var(--jaune);
	opacity: 70%;
	padding: 1vh 5vh;
	border: 2px solid var(--gris);
	border-radius: 15px;
	color: var(--noir);
	text-decoration: none;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 18px;
}

.btnFJBG:hover {
	background-color: var(--gris);
	color: var(--jaune);
	transition: all 0.5s ease;
}

input {
	background-color: var(--noir);
	border: 2px solid var(--gris);
	border-radius: 15px;
	color: var(--jaune);
	padding: 1vh 5vh;
	margin-top: 1vh;
}


/* --- Code Css questions.php --- */
.conteneur-question {
    position: relative;
	margin: 0 auto;
	padding-top: 25vh; 
	padding-bottom: 10vh;
	width: 70%; 
	max-height: 100vh;
	overflow-y: auto;
}

.contenu-question {
    margin-top: 1vh;
    padding: 10px;
    border-radius: 5px;
	background-color: var(--jaune);
	color: var(--noir);	
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;	
}

.question button {
    background-color: var(--noir);
    color: var(--blanc);
    border: none;
    border-radius: 5px;
    cursor: pointer;
	padding: 5px 10px;
}

.question button:hover {
    background-color: var(--gris);
    color: var(--blanc);
}

.reponse {
    display: none;
	border-radius: 5px;
	padding: 5px;
    background-color: var(--noir);
    color: var(--blanc);
}

#paginationQuestion {
    position: relative;
	margin: 0 auto;
	padding: 1vh 0vh; 
	width: 70%; 
	max-height: 100vh;
}