/* Couleurs */

:root {
    --jaune: #F4E904;
    --noir: #0c0c0c;
    --gris: #737373;
    --blanc: #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--noir);
}

/* --- Code Css profil.php --- */

.conteneur-modif {
    width: 100%;
    margin: 0 auto;
}

.formulaire-et-table {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

.contenu-modif {
    display: flex;
    flex-direction: column;
    margin: 7vw auto;
    background-color: var(--noir);
    border-radius: 2vh;
    width: 80%;
}

.formulaire-et-table h2 {
    font-family: "Bebas Neue", sans-serif;
    color: var(--jaune);
    text-align: center;
}

.form-modif {
    color: var(--jaune);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
    gap: 2vh 0; /* Espacement entre les champs */
    width: 70%;
}

.cellule-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnFJBG {
    background-color: var(--jaune);
    opacity: 70%;
    padding: 1vh 5vh;
    margin-top: 2vh;
    border: 2px solid var(--gris);
    border-radius: 15px;
    color: var(--noir);
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
}

.btnFJBG:hover {
    background-color: var(--gris);
    color: var(--jaune);
    transition: all 0.5s ease;
}

label {
    font-family: 'Lato', sans-serif;
    padding: 1vh 0;
}

input {
    background-color: var(--noir);
    border: 2px solid var(--gris);
    border-radius: 15px;
    color: var(--blanc);
    padding: 1vh 5vh;
    margin-top: 1vh;
}

select {
    background-color: var(--noir);
    border: 2px solid var(--gris);
    border-radius: 15px;
    color: var(--jaune);
    padding: 1vh 5vh;
    margin-top: 1vh;
}   

.form-modif h3 {
    font-family: "Bebas Neue", sans-serif;
}

.contenu-modif .lien-connexion {
    color: var(--jaune);
    font-family: 'Lato', sans-serif;
}

.lien-connexion a {
    color: var(--jaune);
}

table {
    position: relative;
    top: -2.5vw;
	width: 80vw;
	border-collapse: collapse;
	font-size: 1vmax;
	color: #333;
	background-color: #fff;
	border-radius: 8px;
	overflow: hidden;
    text-align: center;
}

thead {
	background-color: #F4E904;
    font-family: "Bebas Neue", sans-serif;
}

thead th {
	padding: 12px 15px;
}

tbody tr {
	border-bottom: 1px solid #ddd;
	transition: background-color 0.3s ease;
}

tbody tr:last-child{
	border: none;
}

tbody tr:nth-of-type(even) {
	background-color: #f9f9f9;
}

tbody tr:hover {
	background-color: #f1f1f1;
}

tbody td {
	padding: 12px 15px;
    font-family: 'Lato', sans-serif;
}

td:first-child {
	font-weight: bold;
	color: #000;
}

#image-modal {
    display: none; /* Caché par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    z-index: 1000;
}

#image-modal .modal-content {
    position: relative;
    background-color: var(--blanc);
    padding: 1vh;
    display: flex;
}   

.celluleImage {
    text-decoration: underline;
    cursor: pointer;
}

#alt {
    font-family: 'Lato', sans-serif;
    margin: 1vh auto;
    color: #f1f1f1;
}