/* Couleurs */

:root {
    --jaune: #F4E904;
    --noir: #0c0c0c;
    --gris: #737373;
    --blanc: #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--noir);
}

/* --- Code Css profil.php --- */

.conteneur-modif {
    display: flex;
    flex-direction: column; /* Organisation verticale du formulaire et du tableau */
    align-items: center; /* Centre horizontalement */
}


.contenu-modif {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: var(--noir);
    border-radius: 2vh;
    width: 70%; 
    padding: 15vh 15vh 5vh 15vh; 
}

.formulaire-et-table h2 {
    font-family: "Bebas Neue", sans-serif;
    color: var(--jaune);
    text-align: center;
}

.form-modif {
    color: var(--jaune);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
    gap: 1vw; /* Espacement entre les champs */
    width: 100%;
}

.cellule-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnFJBG {
    background-color: var(--jaune);
    opacity: 70%;
    padding: 1vh 5vh;
    margin-top: 2vh;
    border: 2px solid var(--gris);
    border-radius: 15px;
    color: var(--noir);
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
}

.btnFJBG:hover {
    background-color: var(--gris);
    color: var(--jaune);
    transition: all 0.5s ease;
}

label {
    font-family: 'Lato', sans-serif;
    padding: 1vh 0;
}

input {
    background-color: var(--noir);
    border: 2px solid var(--gris);
    border-radius: 15px;
    color: var(--jaune);
    padding: 1vh 5vh;
    margin-top: 1vh;
}

select {
    background-color: var(--noir);
    border: 2px solid var(--gris);
    border-radius: 15px;
    color: var(--jaune);
    padding: 1vh 5vh;
    margin-top: 1vh;
}   

.form-modif h3 {
    font-family: "Bebas Neue", sans-serif;
}

.contenu-modif .lien-connexion {
    color: var(--jaune);
    font-family: 'Lato', sans-serif;
    margin-top: 5vh;
}

.lien-connexion a {
    color: var(--jaune);
}

.table-achat{
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
}

.table-achat th, .table-achat td {
    border: 2px solid var(--gris);
    padding: 12px;
}

.table-achat th {
    background-color: var(--noir);
    color: var(--jaune); 
}

.table-achat tr {
    background-color: var(--blanc);
    color: var(--gris);
}
