html, body {
    margin: 0;
    padding: 0;
    height: 100%;
	background-color: #0c0c0c;
    font-family: 'Nota', sans-serif;
}

.btnFGBJ {
    background-color: #737373;
    opacity: 70%;
    padding: 1vh 5vh;
    border: 2px solid #F4E904;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
}

.btnFGBJ:hover {
    background-color: #F4E904;
    border: 2px solid #737373;
    color: #0c0c0c;
    transition: all 0.5s ease;
}

.btnFJBG {
    background-color: #F4E904;
    opacity: 70%;
    padding: 1vh 5vh;
    border: 2px solid #737373;
    border-radius: 15px;
    color: #0c0c0c;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
}

.btnFJBG:hover {
    background-color: #737373;
    color: #F4E904;
    transition: all 0.5s ease;
}

.tJ {
	font-family: "Bebas Neue", sans-serif;
	font-style: normal;
    color: #F4E904;
    margin: 0;
    text-align: center;
}

/* --- Code Css accueil.php --- */

.imgAccueil {
    position: relative;
    width: 100%;
    object-fit: cover;
    opacity: 70%;
}

.contenu-accueil {
    position: absolute;
    top: 35vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.contenu-accueil h2 {
    font-size: 7vh;
}

.contenu-accueil h1 {
    font-size: 10vh;
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
}

.contenu-accueil p {
    font-size: 2vh;
    color: white;
    font-family: 'Lato', sans-serif;
}

.contenu-accueil button {
    margin: 4vh;
    padding: 1vh 15vh;
    opacity: 90%;
}

/* --- Code Css produits.php --- */

.conteneur-produits {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.conteneur-produits h2 {
    position: relative;
    top: -3vw;
    left: 50%;
    font-size: 4vw;
    transform: translateX(-50%);
}

.carousel {
    overflow: hidden;
    position: relative;
    left: calc(50% + 2vw);
    transform: translateX(-50%);
    width: 80vw;
    display: flex;
    justify-content: center; /* Centre les produits visibles */
}

.contenu-produits {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px; /* Espacement entre les produits */
    position: relative;
    left: 12vw;
    width: 100%;
}

.produit {
    box-sizing: border-box;
    padding: 20px;
    min-width: 20rem;
    background: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border: 1px solid white;
    background-color: #0c0c0c;
    color: white;
}

.produit h3 {
    color: #F4E904;
}

.produit #prix {
    margin: 0;
    font-size: 2.5vw;
}

.produit #descPrix {
    margin: 0 0 0 60%;
    font-size: 1vw;
    color: #F4E904;
}

hr {
    color: #F4E904;
    margin: 3vh 0;
}

.produit.hidden {
    opacity: 0.3;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #F4E904;
    color: #737373;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

button.prev {
    left: 20px; /* Plus proche des produits */
}

button.next {
    right: 20px; /* Plus proche des produits */
}

@media (max-width: 1200px) {
    .carousel {
        overflow: hidden;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80vw;
        display: flex;
        justify-content: center; /* Centre les produits visibles */
    }
}


.produit:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.contacts {
    position: relative;
    top: 17vh;
    margin: 0 15vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}
  
.menu h4,
.contact h4,
.connectezvous h4 {
    color: #F4E904;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4vh;
}
  
.menu ul {
    list-style: none;
    padding: 0;
}
  
.menu li {
    margin-bottom: 5px;
    text-align: left;
    cursor: pointer;
}
  
.contact {
    text-align: left;
}
  
.connectezvous {
    text-align: left;
}

.connectezvous input {
    width: 90%;
    padding: 1vh 5vh;
    margin: 1vh 0;
    border-radius: 45px;
    color: white;
    background-color: #737373;
    border: 1px solid #0c0c0c;
    text-align: center;
}

.connectezvous button {
    width: 125%;
    padding: 0.5vh 5vh;
    border-radius: 45px;
    background-color: #F4E904;
    border: 1px solid #0c0c0c;
    font-family: 'Bebas Neue', sans-serif;
}
  
.contacts img {
    width: 30vh; /* Taille ajustable */
}
  
.social-icons {
    margin-top: 75px;
    display: flex;
    gap: 2vw;
}
  
.social-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}