html, body {
	background-color: #0c0c0c;
}

.conteneur-question {
    padding: 20px;
    border-radius: 8px;
    max-width: 1200px;
    margin: 10vw auto 0;
}

.form-creation, .form-modif {
    margin-bottom: 20px;
    background-color: #0c0c0c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #F4E904;
}

.form-creation textarea, 
.form-modif textarea, 
.form-creation input[type="text"], 
.form-modif input[type="text"] {
	resize: none;
    width: 98%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
	background-color: #737373;
	color: white;
}

/* Labels */
.form-creation label, 
.form-modif label, 
.recherche label {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 1vw;
    color: white;
}

/* Bouton d'ajout et de sauvegarde */
.form-creation input[type="submit"], 
.form-modif input[type="submit"], 
.recherche input[type="submit"] {
    margin: 2vh auto;
    background: #F4E904;
    border: 1px solid #737373;
    border-radius: 45px;
    padding: 1vh 2vw;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1rem;
}

.form-creation input[type="submit"]:hover, 
.form-modif input[type="submit"]:hover, 
.recherche input[type="submit"]:hover {
    box-shadow: 1px 1px #737373;
    cursor: pointer;
}

/* Zone de recherche */
.recherche {
    margin-bottom: 20px;
    background-color: #0c0c0c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #F4E904;
}

/* Formulaire de modification */
.contenu-question {
    margin-bottom: 20px;
    background-color: #737373;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Bouton de suppression */
.form-suppression .btn-supprimer {
    margin: 2vh auto;
    background: #F4E904;
    border: 1px solid #737373;
    border-radius: 45px;
    padding: 1vh 2vw;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1rem;
}

.form-suppression .btn-supprimer:hover {
    box-shadow: 1px 1px #0c0c0c;
    cursor: pointer;
}

/* Pagination */
#paginationQuestion {
    margin-top: 20px;
    text-align: center;
}

#paginationQuestion a, #paginationQuestion span {
    display: inline-block;
    margin: 0 5px;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    color: #555;
    background-color: #f1f1f1;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#paginationQuestion a:hover {
    background-color: #4caf50;
    color: white;
}

#paginationQuestion .active {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
}